<section class="py-20 md:py-24 flex flex-col justify-center items-center">
  <div class=" w-full grid grid-cols-1 lg:grid-cols-3 lg:gap-11 p-8">
    <!-- Imagem 1 -->
    <div style="background-image: url('/assets/personagem-walk.png');"
      class="hidden lg:block h-full bg-right bg-no-repeat bg-contain" data-aos="fade-right"
      data-aos-anchor-placement="top">
    </div>
    <!-- Textos -->
    <div class="flex flex-col gap-6">
      <div class="flex flex-col gap-2" data-aos="fade-down" data-aos-delay="250">
        <span class="title text-center font-bold text-5xl md:text-6xl">O gostinho da infância</span>
        <span class="content text-justify text-xl md:text-2xl">
          O mundo muda, mas os sabores nostálgicos permanecem, relembre o gostinho da infância com as balas 7Belo
        </span>
      </div>

      <div class="flex flex-col gap-2" data-aos="fade-up" data-aos-delay="250">
        <span class="title text-center font-bold text-5xl md:text-6xl">Eleve sua imaginação</span>
        <span class="content text-justify text-xl md:text-2xl">
          É só abrir uma bala 7Belo que relembramos que a gente só pensava em brincar e rabiscar, mas por que deixar
          isso
          só na infancia?
        </span>
      </div>

      <!-- Botao -->
      <div
        class="bg-[#007581] hover:bg-[#006874] cursor-pointer w-11/12 md:w-full button p-5 text-center text-xl xl:text-3xl rounded-2xl self-center"
        data-aos="zoom-in" data-aos-delay="400" data-aos-anchor-placement="top" (click)="this._modalService.show()">
        <span style="font-family: 'Inter', sans-serif;" class="font-semibold">CONTATE-NOS AGORA</span>
      </div>
    </div>

    <!-- Imagem 2 -->
    <div style="background-image: url('/assets/personagem-bala.png'); "
      class="hidden max-w-md lg:block h-full bg-left bg-no-repeat bg-contain" data-aos="fade-left">
    </div>
  </div>

</section>