<section style="background-color: #009E66;"
  class="h-screen flex items-center justify-evenly sm:justify-between flex-col shadow-md shadow-black/30 p-4 gap-2">
  <div class="flex flex-col items-center gap-2" data-aos="fade-down">
    <span class="text-6xl text-center sm:text-left sm:text-8xl">Balas 7 Belo</span>
    <span class="text-2xl sm:text-3xl">Desde 1960, a melhor bala fabricada no brasil</span>
  </div>
  <div class="w-auto h-[70%] sm:h-[80%] flex justify-center items-end">
    <img class=" h-full" src="/assets/pacote.png" data-aos="fade-up" data-aos-anchor-placement="top"
      data-aos-delay="200" data-aos-duration="450">
  </div>
</section>